

/* Style the content */
article {
  min-width: 100px;
  min-height: 600px;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #F0FFFF;
  padding: 10px;
  border-style: groove;
}

#boxB { 
	width:400px; 
	height:400px;
	overflow:auto; 
}
     
#previewDiv {
	width:400px; 
	height:400px;
	overflow:auto; 
}    

    
.operationsDiv {
	float:left; 
}

.numbersBox {
	font-size:20px;
	float:left !important;
	padding:10px;
	margin:10px;
	-moz-user-select:none;
	width:40px; 
	height:40px;
}

.operationsBox {
	font-size:20px;
	float:left !important;
	padding:10px;
	margin:10px;
	-moz-user-select:none;
	width:40px; 
	height:40px;
}

.canvasButton {
	width:100%;
	margin-bottom:10px !important;
}

.deleteBtnHover {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  margin-bottom:10px;
  z-index: 1;
}

.deleteAction:hover .deleteBtnHover {
 visibility: visible;
}

.splitHeading {
	margin-top: 0px;
	padding: 10px;
	color:#648ca6;
	border-bottom: 2px solid grey;
}

.expressionResultDiv{
	width:200px;
}
#expressionResult {
	color: #111; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 20px; 
	font-weight: bold;
	line-height: 1; 
	text-align: center;
}

/*the form style*/
.form {
	position: relative;
	z-index: 1;
	background: rgba(7, 40, 195, 0.05);
	max-width: 360px;
	margin: 0 auto 30px;
	padding: 0px;
	text-align: center;
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #6E7C9A;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

.form button:hover, .form button:active {
	background: #4C669F;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 30%; /* Could be more or less, depending on screen size */
}

.questionsBox {
  font-size:20px;
  float:left !important;
  padding:10px;
  margin:10px;
  -moz-user-select:none;
  width:350px; 
  height:340px;
  border: groove;
}

.saveAssignmentDialog {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.saveAssignmentDialog-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.saveAssignmentDialog-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.saveAssignmentDialog-close:hover,
.saveAssignmentDialog-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
